@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
}

$color-white: #fff;
$color-blue: #3d7cf3;
$color-dark-blue: #25234d;



// font-family: 'Nunito Sans', sans-serif;
// font-family: 'Poppins', sans-serif;